@{
    ViewBag.Title = "Report constructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report constructor</h2>

<div>
    @Html.ActionLink("Download the report", "DownloadReport")
</div>

<div>
    @Html.ActionLink("Send report by e-mail", "SendReportByEmail")
</div>